
.error{
    color: red;
    display: none;
    font-size: 0.9em;
    margin-left: 6px;
}

.formulario{
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
}