/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-sep-2018, 2:27:57
    Author     : Lucas
*/

.formularioAltaUser{
position: absolute;
    padding: 1em;
    background: #fff;
    box-shadow: 0 1px 600px rgba(1, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;
    left:50%;
    width:550px;
    margin-left:-200px;
    height:600px;
    margin-top:-150;
    background-color:#fff;
}

