div{
    background: rgba(236,235,235,50);
    width: 50%;
    height: 50%; 
    margin-left: 25%;
    border: 2px solid black;
    text-align: center;
}

div table{
    padding-left: 15%;
    margin: 0 auto;
    padding-top: 10px;
}
table tr td{
    text-align: center;

}

table tr th{
    text-align: center;
}

.seguidores{
    margin-left: 2%;
    position:absolute;
    top:450px;
    right:0;
    left:0px;
    bottom:0; 
    float:left;
}
.seguidos{
    position:absolute;
    top:450px;
    right:0;
    left:500px;
    bottom:0; 
    float:left;
}

.favoritas{
    margin-left: 2%;
    position:absolute;
    top:950px;
    right:0;
    left:0;
    bottom:0; 
    float:left;
}

.usuario{
    position:absolute;
    top:950px;
    right:0;
    left:500px;
    bottom:0; 
    float:left;
}