.formulario{
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.formulario_tabs{
    width: 1159px;
    max-width: 113%;
    margin: auto;
    margin-top: auto;
    margin-top: 30px;
    padding: 18px;
     border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    height: 553px;
}

.formulario_ver_propuesta{
    width: 680px;
    max-width: 113%;
    margin: auto;
    margin-top: auto;
    margin-top: 30px;
    padding: 18px;
     border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
